body > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	box-shadow: 0px 3px 1rem rgba($color: #000, $alpha: 0.2);
	@include screen-down-to(768) {
		height: 5rem;
	}
}
@include dark-mode {
	& > header {
		background-color: $color-dark-4;
		box-shadow: 0px 3px 1rem rgba($color: #fff, $alpha: 0.3);
	}
}

// Left sidebar
body > header .left-header {
	display: flex;
	align-items: center;
	height: 100%;
	#sidebar-controller {
		margin: 0;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 6rem;
		height: 100%;
		background-color: var(--secondary-color);
		margin-right: 2rem;
		&:hover {
			background-color: var(--secondary-color-darken);
		}
		@include screen-down-to(768) {
			color: var(--main-text-color);
			margin: 0 1.5rem;
			width: auto;
			background-color: inherit;
			&:hover {
				background-color: inherit;
			}
		}

		i {
			font-size: 2rem;
		}
	}
	.brand {
		display: flex;
		justify-content: center;
		align-items: center;
		img.logo {
			width: 4rem;
			height: 4rem;
			@include screen-down-to(768) {
				width: 3rem;
				height: 3rem;
			}
		}
		strong {
			transition: none;
			font-family: Pattaya, SourceSansPro, sans-serif;
			font-size: 3rem;
			letter-spacing: 0.3rem;
			margin-left: 0.8rem;
			@include screen-down-to(768) {
				font-size: 2.5rem;
				letter-spacing: 0.1rem;
				margin-left: 0.5rem;
			}
		}
	}
}

// Right section of the header
body > header > .right-header {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 2rem;
	@include screen-down-to(375) {
		margin-right: 1rem;
	}

	.guest {
		display: flex;
		align-items: center;
		.login {
			font-size: 1.5rem;
			font-style: italic;
		}
	}
}

.theme-mode-switcher {
	display: flex;
	align-items: center;
	cursor: pointer;
	.range-slider {
		width: 4rem;
		height: 2rem;
		border-radius: 50px;
		position: relative;
		margin: 0 0.5rem;
		padding: 2px;
		background-color: rgba($color: $color-light-4, $alpha: 1);
		.switcher {
			color: white;
			position: absolute;
			top: 0.5px;
			left: 2px;
			--transition-property: transform;
			--transition-duration: 300ms;
		}
	}
	i {
		color: var(--main-text-color);
		font-size: 1.5rem;
		border-radius: 50px;
	}
}
@include dark-mode {
	.theme-mode-switcher {
		.range-slider .switcher {
			color: var(--secondary-color);
			transform: translateX(2rem);
		}
		i {
			color: yellow;
		}
	}
}
