body {
	font-family: SourceSansPro, sans-serif;
	@include screen-down-to(320) {
		display: none;
	}
}

body {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	&.dark-mode {
		--main-background-color: #{$color-black};
		--main-text-color: #{$color-white};
	}
	&.secondary-blue-twitter {
		--secondary-color: #{$color-blue-twitter};
		--secondary-color-darken: #{darken($color-blue-twitter, 10)};
	}
	&.secondary-blue-facebook {
		--secondary-color: #{$color-blue-facebook};
		--secondary-color-darken: #{darken($color-blue-facebook, 10)};
	}
	&.secondary-violet {
		--secondary-color: #{$color-violet};
		--secondary-color-darken: #{darken($color-violet, 10)};
	}
	&.secondary-green {
		--secondary-color: #{$color-green};
		--secondary-color-darken: #{darken($color-green, 10)};
	}
}
.color-secondary {
	color: var(--secondary-color);
	&.blue-twitter {
		--secondary-color: #{$color-blue-twitter};
		--secondary-color-darken: #{darken($color-blue-twitter, 10)};
	}
	&.blue-facebook {
		--secondary-color: #{$color-blue-facebook};
		--secondary-color-darken: #{darken($color-blue-facebook, 10)};
	}
	&.violet {
		--secondary-color: #{$color-violet};
		--secondary-color-darken: #{darken($color-violet, 10)};
	}
	&.green {
		--secondary-color: #{$color-green};
		--secondary-color-darken: #{darken($color-green, 10)};
	}
	&.with-hover:hover,
	&-hover:hover {
		background-color: var(--secondary-color-darken);
	}
}
.bg-secondary {
	background-color: var(--secondary-color);
	color: white;
	transition: color ease-in-out 300ms, background ease-in-out 300ms;
	&.blue-twitter {
		--secondary-color: #{$color-blue-twitter};
		--secondary-color-darken: #{darken($color-blue-twitter, 10)};
	}
	&.blue-facebook {
		--secondary-color: #{$color-blue-facebook};
		--secondary-color-darken: #{darken($color-blue-facebook, 10)};
	}
	&.violet {
		--secondary-color: #{$color-violet};
		--secondary-color-darken: #{darken($color-violet, 10)};
	}
	&.green {
		--secondary-color: #{$color-green};
		--secondary-color-darken: #{darken($color-green, 10)};
	}
	&.with-hover:hover,
	&-hover:hover {
		background-color: var(--secondary-color-darken);
	}
}

.theme-mode-switcher {
	display: flex;
	align-items: center;
	cursor: pointer;
	.range-slider {
		width: 4rem;
		height: 2rem;
		border-radius: 50px;
		position: relative;
		margin: 0 0.5rem;
		padding: 2px;
		background-color: rgba($color: $color-light-4, $alpha: 1);
		.switcher {
			color: white;
			position: absolute;
			top: 0.5px;
			left: 2px;
			transition: transform ease-in-out 300ms, color ease-in-out 300ms;
		}
	}
	i {
		transition: color ease-in-out 300ms;
		color: var(--main-text-color);
		font-size: 1.5rem;
		border-radius: 50px;
	}
}
@include dark-mode {
	.theme-mode-switcher {
		.range-slider .switcher {
			color: var(--secondary-color);
			transform: translateX(2rem);
		}
		i {
			color: yellow;
		}
	}
}

@for $i from 1 through 6 {
	$dark: 1 !default;
	$light: 1 !default;
	@if $i == 1 {
		$dark: $color-dark-1;
		$light: $color-light-1;
	} @else if $i == 2 {
		$dark: $color-dark-2;
		$light: $color-light-2;
	} @else if $i == 3 {
		$dark: $color-dark-3;
		$light: $color-light-3;
	} @else if $i == 4 {
		$dark: $color-dark-4;
		$light: $color-light-4;
	} @else if $i == 5 {
		$dark: $color-dark-5;
		$light: $color-light-5;
	} @else if $i == 6 {
		$dark: $color-dark-6;
		$light: $color-light-6;
	}
	.bg-dark-#{$i} {
		background-color: $dark;
		&.with-transition {
			transition: background ease-in-out 300ms;
		}
		&.darken-hover:hover {
			background-color: darken($dark, 10);
		}
		&.lighten-hover:hover {
			background-color: lighten($dark, 10);
		}
	}
	.text-dark-#{$i} {
		color: $dark;
		&.with-transition {
			transition: color ease-in-out 300ms;
		}
		&.darken-hover:hover {
			color: darken($dark, 10);
		}
		&.lighten-hover:hover {
			color: lighten($dark, 10);
		}
	}
	.bg-light-#{$i} {
		background-color: $light;
		&.with-transition {
			transition: background ease-in-out 300ms;
		}
		&.darken-hover:hover {
			background-color: darken($light, 10);
		}
		&.lighten-hover:hover {
			background-color: lighten($light, 10);
		}
	}
	.text-light-#{$i} {
		color: $light;
		&.with-transition {
			transition: color ease-in-out 300ms;
		}
		&.darken-hover:hover {
			color: darken($light, 10);
		}
		&.lighten-hover:hover {
			color: lighten($light, 10);
		}
	}
}

// Header
@import "./layout-styles/header";

// Components
@import "./components/button";
