/* ------------ COLORS ------------ */
$color-red: #ee4430;
$color-blue-twitter: #24a1f2;
$color-blue-facebook: #3b5998;
$color-violet: #8d6cab;
$color-green: #30bb30;

// Dark colors
$color-black: black;
$color-dark-1: #191919; // 25 25 25
$color-dark-2: #242424; // 36 36 36
$color-dark-3: #272727; // 39 39 39
$color-dark-4: #333333; // 51 51 51
$color-dark-5: #454545; // 69 69 69
$color-dark-6: #4f4f4f; // 79 79 79
// Light colors
$color-white: white;
$color-light-1: #f7f7f7; // 247 247 247
$color-light-2: #e4e1e5; // 228 225 229
$color-light-3: #c7c7c7; // 199 199 199
$color-light-4: #afafaf; // 175 175 175
$color-light-5: #969ba3; // 150 155 163
$color-light-6: #515151; // 81 81 81
/* ------------ COLORS ------------ */
