.btn {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: var(--main-text-color);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	background-color: var(--secondary-color);
	transition: background ease-in-out 300ms, color ease-in-out 300ms;
	&:hover {
		background-color: var(--secondary-color-darken);
		color: white;
	}
}
.btn-sm {
	padding: 0.3rem 0.8rem;
}
.btn-outline {
	background-color: inherit;
	border: 2px solid var(--secondary-color);
	&:hover {
		background-color: var(--secondary-color);
		color: white;
		outline: none;
	}
	&:focus {
		outline-offset: 2px;
	}
}
