* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* ------------ COLORS ------------ */
/* ------------ COLORS ------------ */
:root {
  --main-background-color: white;
  --main-text-color: #333333;
  --secondary-color: #ee4430;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  transition: color ease-in-out 300ms;
  transition: background ease-in-out 300ms;
}
body.dark {
  --main-background-color: black;
  --main-text-color: white;
}

.bg-secondary {
  background-color: var(--secondary-color);
  transition: color ease-in-out 300ms;
  transition: background ease-in-out 300ms;
}
.bg-secondary.blue-twitter {
  --secondary-color: #24a1f2;
}
.bg-secondary.blue-facebook {
  --secondary-color: #3b5998;
}
.bg-secondary.violet {
  --secondary-color: #8d6cab;
}
.bg-secondary.green {
  --secondary-color: #30bb30;
}

.text-dark-1 {
  color: #191919;
}

.text-light-1 {
  color: #f7f7f7;
}

.text-dark-2 {
  color: #242424;
}

.text-light-2 {
  color: #e4e1e5;
}

.text-dark-3 {
  color: #272727;
}

.text-light-3 {
  color: #c7c7c7;
}

.text-dark-4 {
  color: #333333;
}

.text-light-4 {
  color: #afafaf;
}

.text-dark-5 {
  color: #454545;
}

.text-light-5 {
  color: #969ba3;
}

.text-dark-6 {
  color: #4f4f4f;
}

.text-light-6 {
  color: #515151;
}
